html {
  // positioning
  position: relative;

  // box model
  height: 100%;

  // typography
  font-family: var(--mainFont);
  font-size: 10px;

  // visual
  background-color: var(--lightXL);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  // positioning
  position: relative;

  // visual
  overflow-x: hidden;
}

// .centered {
//   // typography
//   text-align: center;
// }

// .nowrap {
//   // typography
//   white-space: nowrap;
// }

// .mobile-only {
//   @include atDesktopS {
//     // box model
//     display: none !important;
//   }
// }

// .desktop-only {
//   // box model
//   display: none !important;

//   @include atDesktopS {
//     // box model
//     display: inherit !important;
//   }
// }

// .overflow-hidden {
//   // visual
//   overflow: hidden;
// }

// a {
//   // typography
//   // color: $lightGreen;
// }
