:root {
  // Colors
  --lightXL:        #ffffff;
  --lightL:         #f6f6f6;
  --lightS:         #fafafa;

  --darkS:          #cdcdcd;
  --darkM:          #b2b2b2;
  --darkL:          #545454;
  --darkXL:         #4c4c4c;
  --dark2XL:        #444444;
  --dark3XL:        #292929;

  --primary:        #f1cdb3;
  --primaryLight:   #fddcc4;


  // Fonts
  --titleFont:      Georgia, 'Times New Roman', Times, serif;
  --mainFont:       Arial, Helvetica, sans-serif;
}


// Sizes

