section#all-friends.all-friends
  .all-friends__wrapper.wrapper
    header.all-friends__header
      h1.section-title Our friends who <br>are looking for a house
    .all-friends__content 
      article.pet(data-name='katrine')
        .pet__image
          img(src="./img/pets/katrine.png", alt="Katrine")
        .pet__caption
          h3.pet__title Katrine
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='jennifer')
        .pet__image
          img(src="./img/pets/jennifer.png", alt="Jennifer")
        .pet__caption
          h3.pet__title Jennifer
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='woody')
        .pet__image
          img(src="./img/pets/woody.png", alt="Woody")
        .pet__caption
          h3.pet__title Woody
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='sophia')
        .pet__image
          img(src="./img/pets/sophia.png", alt="Sophia")
        .pet__caption
          h3.pet__title Sophia
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='timmy')
        .pet__image
          img(src="./img/pets/timmy.png", alt="Timmy")
        .pet__caption
          h3.pet__title Timmy
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='charly')
        .pet__image
          img(src="./img/pets/charly.png", alt="Charly")
        .pet__caption
          h3.pet__title Charly
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='scarlett')
        .pet__image
          img(src="./img/pets/scarlett.png", alt="Scarlett")
        .pet__caption
          h3.pet__title Scarlett
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet(data-name='freddie')
        .pet__image
          img(src="./img/pets/freddie.png", alt="Freddie")
        .pet__caption
          h3.pet__title Freddie
          .pet__more
            a.ghost-button(href="#") Learn more
    .all-friends__pagination
      ul.pagination
        li.pagination__item
          button.circle-button(disabled) &lt;&lt;
        li.pagination__item
          button.circle-button(disabled) &lt;
        li.pagination__item
          span.pagination__current 1
        li.pagination__item
          button.circle-button &gt;
        li.pagination__item
          button.circle-button &gt;&gt;

