section#all-friends.all-friends.section
  .all-friends__wrapper.wrapper
    header.all-friends__header
      h2.section-title Our friends who <br>are looking for a house
    .all-friends__content 
      article.pet
        .pet__image
          img(src="./img/pets/katrine.png", alt="Katrine")
        .pet__caption
          h3.pet__title Katrine
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/jennifer.png", alt="Jennifer")
        .pet__caption
          h3.pet__title Jennifer
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/woody.png", alt="Woody")
        .pet__caption
          h3.pet__title Woody
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/sophia.png", alt="Sophia")
        .pet__caption
          h3.pet__title Sophia
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/timmy.png", alt="Timmy")
        .pet__caption
          h3.pet__title Timmy
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/charly.png", alt="Charly")
        .pet__caption
          h3.pet__title Charly
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/scarlett.png", alt="Scarlett")
        .pet__caption
          h3.pet__title Scarlett
          .pet__more
            a.ghost-button(href="#") Learn more
      article.pet
        .pet__image
          img(src="./img/pets/freddie.png", alt="Freddie")
        .pet__caption
          h3.pet__title Freddie
          .pet__more
            a.ghost-button(href="#") Learn more
    .all-friends__pagination
      a.button(href="pets.html") Get to know the rest
