section.donations
  .donations__wrapper
    .donations__content
      h2.section-title You can also <br>make a donation
      h3.donations__title Name of the bank / Type of bank account
      .donations__card
        a.credit-card(href="#")
          .credit-card__icon
            img(src="./img/icons/credit-card.svg", alt="credit card icon")
          span.credit-card__number 8380 2880 8028 8791 7435
      p.donations__legal-info Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    .donations__image
      img(src="./img/donation-dog.png", alt="Cute puppy")
