footer#contacts.footer
  .footer__wrapper.wrapper
    .footer__block
      h3.footer-title For questions and suggestions
      a.contact(href="mailto:email@shelter.com")
        .contact__icon
          img(src="./img/icons/icon-email.svg", alt="email")
        p.contact__text email@shelter.com
      a.contact(href="tel:+136745677554")
        .contact__icon
          img(src="./img/icons/icon-phone.svg", alt="phone")
        p.contact__text +13 674 567 75 54
    .footer__block
      h3.footer-title We are waiting for your visit
      a.contact.contact--location(href="https://www.google.com/maps/place/@42.3276029,-71.0945625,17z" target="_blank")
        .contact__icon
          img(src="./img/icons/icon-marker.svg", alt="location marker")
        p.contact__text 1 Central Street, Boston (entrance from the store)
      a.contact.contact--location(href="https://www.google.com/maps/@51.4723291,-0.2103449,11z" target="_blank")
        .contact__icon
          img(src="./img/icons/icon-marker.svg", alt="location marker")
        p.contact__text 18 South Park, London
    .footer__image
      img(src="./img/footer-puppy.png", alt="Footer puppy")
