footer.footer
  .footer__wrapper.wrapper 
    .footer__block
      h3.footer-title For questions and suggestions
      .contact 
        .contact__icon 
          img(src="", alt="")
        p.contact__text email@shelter.com
      .contact 
        .contact__icon 
          img(src="", alt="")
        p.contact__text +13 674 567 75 54
    .footer__block
      h3.footer-title We are waiting for your visit
      .contact 
        .contact__icon 
          img(src="", alt="")
        p.contact__text 1 Central Street, Boston (entrance from the store)
      .contact 
        .contact__icon 
          img(src="", alt="")
        p.contact__text 18 South Park, London 
    .footer__block
      .footer__image 
        img(src="", alt="")
