header.header 
  .header__logo 
    .logo 
      p.logo__title Cozy House 
      p.logo__subtitle Shelter for pets in Boston
  nav.header__nav 
    ul.main-menu 
      li.main-menu__item.main-menu__item--current 
        span.main-menu__link About the shelter
      li.main-menu__item 
        a.main-menu__link(href="#") Our pets 
      li.main-menu__item 
        a.main-menu__link(href="#") Help the shelter
      li.main-menu__item 
        a.main-menu__link(href="#") Contacts
