section.help 
  header.help__header
    h2.section__title How you can help our shelter
  .help__content 
    ul.help-list 
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Pet food
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Transportation
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Toys
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Bowls and cups
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Shampoos
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Vitamins
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Medicines
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Collars / leashes
      li.help-list__item 
        .help-list__icon 
          img(src="", alt="")
        h3.help-list__title Sleeping areas
