section.help
  header.help__header
    h2.section-title How you can help <br>our shelter
  .help__content
    ul.help-list
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-pet-food.svg", alt="Pet food")
        h3.help-list__title Pet food
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-transportation.svg", alt="Transportation")
        h3.help-list__title Transportation
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-toys.svg", alt="Toys")
        h3.help-list__title Toys
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-bowls-and-cups.svg", alt="Bowls and cups")
        h3.help-list__title Bowls and cups
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-shampoos.svg", alt="Shampoos")
        h3.help-list__title Shampoos
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-vitamins.svg", alt="Vitamins")
        h3.help-list__title Vitamins
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-medicines.svg", alt="Medicines")
        h3.help-list__title Medicines
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-collars-leashes.svg", alt="Collars and Leashes")
        h3.help-list__title Collars / leashes
      li.help-list__item
        .help-list__icon
          img(src="./img/icons/icon-sleeping-area.svg", alt="Sleeping areas")
        h3.help-list__title Sleeping areas
