section.hero 
  .hero__wrapper.wrapper
    .hero__caption 
      h1.hero__title Not only people <br>need a house
      p.hero__subtitle We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
      .hero__cta
        a.button(href="#") Make a friend
    .hero__image 
      img(src="./img/start-screen-puppy.png", alt="start screen puppy")
