section.our-friends
  header.our-friends__header
    h2.section-title Our friends who are looking for a house
  .our-friends__content 
    .pet-slider
      .pet-slider__content 
        article.pet 
          .pet__image 
            img(src="./img/pets/", alt="")
          h3.pet__title Katrine
          a.ghost-button(href="#") Learn more
        article.pet 
          .pet__image 
            img(src="./img/pets/", alt="")
          h3.pet__title Jennifer
          a.ghost-button(href="#") Learn more
        article.pet 
          .pet__image 
            img(src="./img/pets/", alt="")
          h3.pet__title Woody
          a.ghost-button(href="#") Learn more
      .pet-slider__controls
    .our-friends__cta
      a.button(href="#") Get to know the rest
