section#our-friends.our-friends
  .our-friends__wrapper.wrapper
    header.our-friends__header
      h2.section-title Our friends who <br>are looking for a house
    .our-friends__content 
      .pet-slider
        .pet-slider__content
          article.pet
            .pet__image
              img(src="./img/pets/katrine.png", alt="Katrine")
            .pet__caption
              h3.pet__title Katrine
              .pet__more
                a.ghost-button(href="#") Learn more
          article.pet
            .pet__image
              img(src="./img/pets/jennifer.png", alt="Jennifer")
            .pet__caption
              h3.pet__title Jennifer
              .pet__more
                a.ghost-button(href="#") Learn more
          article.pet
            .pet__image
              img(src="./img/pets/woody.png", alt="Woody")
            .pet__caption
              h3.pet__title Woody
              .pet__more
                a.ghost-button(href="#") Learn more
        .pet-slider__controls
          button.circle-button
            img(src="./img/icons/arr-l.svg", alt="left")
          button.circle-button
            img(src="./img/icons/arr-r.svg", alt="right")
    .our-friends__cta
      a.button(href="pets.html") Get to know the rest
