section#popup.popup(open)
  .popup__overlay
  .popup__content(method='dialog')
    button.popup__close x
    .popup__image
      img(src="./img/pets/jennifer.png", alt="Jennifer")
    .popup__content
      h2.popup__title Jennifer
      h3.popup__subtitle
        span.popup__type Dog
        | —
        span.popup__breed Labrador
      p.popup__description Jennifer is a sweet 2 months old Labrador that is patiently waiting to find a new forever home. This girl really enjoys being able to go outside to run and play, but won't hesitate to play up a storm in the house if she has all of her favorite toys.
      ul.popup__list
        li.popup__item <b>Age:</b> 2 month
        li.popup__item <b>Inculations:</b> none
        li.popup__item <b>Diseases:</b> none
        li.popup__item <b>Parasites:</b> none
