.all-friends {
  // box model
  padding: 4.2rem 1rem;

  // visual
  background-color: var(--lightL);

  @include section;

  @include atTablet760 {
    padding-bottom: 7.2rem;
  }

  @include atDesktopS {
    // box model
    padding-bottom: 10rem;
  }
}

.all-friends__header {
  // box model
  margin-bottom: 4.2rem;

  @include atTablet760 {
    // box model
    margin-bottom: 3rem;

    // typography
    text-align: center;
  }

  @include atDesktopS {
    // box model
    margin-bottom: 6rem;

  }
}

.all-friends__content {
  // box model
  display: grid;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fill, 27rem);
  margin-bottom: 4.2rem;

  @include atTablet {
    // box model
    justify-content: space-evenly;
  }

  @include atTablet760 {
    // box model
    margin-bottom: 4rem;
    padding: 0 9.4rem;
  }

  @include atDesktopS {
    // box model
    column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-bottom: 6rem;
    padding: 0;
  }
}

.all-friends__content .pet {
  // box model
  display: none;

  &:nth-of-type(-n + 3) {
    // box model
    display: block;
  }

  @include atTablet {
    &:nth-of-type(-n + 6) {
      // box model
      display: block;
    }
  }

  @include atDesktopS {
    // box model
    display: block;
  }
}

.all-friends__cta {
  // box model
  display: flex;
  justify-content: center;
}
