.circle-button {
  // box model
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  width: 5.2rem;
  margin: 0;
  padding: 0;

  // border
  border-radius: 50%;
  border: 2px solid var(--primary);

  // typography
  color: var(--dark3XL);
  font-family: var(--titleFont);
  font-size: 2rem;
  letter-spacing: 0.06em;
  line-height: 1.15;
  text-align: center;
  text-decoration: none;

  // visual
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.circle-button:hover:enabled {
  // border
  border-color: var(--primaryLight);

  // visual
  background-color: var(--primaryLight);
}

.circle-button:active:enabled {
  // border
  border-color: var(--primary);

  // visual
  background-color: var(--primary);
}

.circle-button:disabled {
  // typography
  color: var(--darkS);

  // border
  border-color: var(--darkS);

  // visual
  cursor: not-allowed;
}
