.credit-card {
  // box model
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  // border
  border-radius: 0.9rem;

  // typography
  text-decoration: none;

  // visual
  background-color: var(--primary);
}

.credit-card__icon {
  // box model
  width: 3rem;
  margin-right: 1.5rem;
}

.credit-card__icon img {
  // box model
  width: 100%;
}

.credit-card__number {
  // typography
  color: var(--darkL);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  line-height: 1.1;
  white-space: nowrap;
}
