.footer {
  // box model
  padding: 0 1rem;
  padding-top: 3rem;

  // visual
  background-color: var(--background);
  background-image: 
    url(./img/noise-transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
}

.footer__wrapper {
  // box model
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__block {
  // box model
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__image {
  // box model
  margin: 0 2rem;
}

.footer__image img {
  // box model
  max-width: 100%;
}
