.header {
  // positioning
  position: relative;

  // box model
  margin-bottom: -15rem;
  padding: 0 2rem;
  padding-top: 3rem;
  padding-bottom: 6rem;

  @include atTablet768 {
    // box model
    padding: 3rem;
    padding-bottom: 6rem;
  }

  @include atDesktopS {
    // box model
    margin-bottom: -18rem;
    padding-bottom: 9rem;
  }
}

.header--inner {
  // box model
  margin-bottom: 0;
  padding: 3rem 2rem;

  @include atTablet768 {
    // box model
    padding: 3rem;
  }

  @include atDesktopS {
    // box model
    padding: 3rem 0;
  }
}

.header__wrapper {
  // box model
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  // box model
  display: flex;
}

.header__menu-button {
  // positioning
  position: relative;
  z-index: 9;

  @include atTablet768 {
    // box model
    display: none;
  }
}
