.header {
  // box model
  margin-bottom: -15rem;
  padding: 0 1rem;
  padding-top: 3rem;
  padding-bottom: 6rem;

  @include atDesktopS {
    // box model
    margin-bottom: -18rem;
    padding-bottom: 9rem;
  }
}

.header--inner {
  @include atDesktopS {
    // box model
    margin-bottom: 0;
    padding: 3rem 0;
  }
}

.header__wrapper {
  @include atDesktopS {
    // box model
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  // box model
  display: flex;
}

.header__nav {
  // box model
  display: none;

  @include atDesktopS {
    // box model
    display: block;
  }
}
