.help-list {
  // box model
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;

  // list
  list-style: none;
}

.help-list__item {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 13rem;
  margin: 0;
  padding: 0;
}

.help-list__icon {
  // box model
  width: 5rem;
  margin-bottom: 2rem;
}

.help-list__icon img {
  // box model
  width: 100%;
}

.help-list__title {
  // box model
  margin: 0;

  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.06em;
}
