.help {
  // box model
  padding: 4.2rem 1.5rem;
}

.help__header {
  // box model
  margin-bottom: 4.2rem;

  @include atTablet760 {
    // box model
    margin-bottom: 6rem;

    // typography
    text-align: center;
  }
}

.help__content {
  @include atTablet760 {
    // box model
    padding: 0 3rem;
  }

  @include atDesktopS {
    // box model
    margin: 0 auto;
    padding: 0;
    width: 103rem;
  }
}
