.help-list {
  // box model
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;

  // list
  list-style: none;

  @include atDesktopS {
    // box model
    column-gap: 12rem;
    row-gap: 5.5rem;
    justify-content: center;
  }
}

.help-list__item {
  // box model
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 13rem;
  margin: 0;
  padding: 0;

  @include atDesktopS {
    // box model
    flex-basis: auto;
  }
}

.help-list__icon {
  // box model
  width: 5rem;
  margin-bottom: 2rem;

  // typography
  font-size: 0;

  @include atDesktopS {
    // box model
    width: 6rem;
    margin-bottom: 3rem;
  }
}

.help-list__icon img {
  // box model
  width: 100%;
}

.help-list__title {
  // box model
  margin: 0;

  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;

  @include atDesktopS {
    // typography
    font-size: 2rem;
    line-height: 1.15;
  }
}
