.hero {
  // box model
  padding: 0 1rem;
  padding-top: 15rem;

  // typography
  color: var(--lightXL);

  // visual
  background-color: var(--background);
  background-image:
    url(./img/noise-transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.hero__wrapper {

}

.hero__caption {
  // box model
  margin-bottom: 10.5rem;

  // typography
  text-align: center;
}

.hero__title {
  // box model
  margin: 0;
  margin-bottom: 4.2rem;

  // typography
  font-family: var(--titleFont);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3;
}

.hero__subtitle {
  // box model
  margin: 0;
  margin-bottom: 4.2rem;

  // typography
  font-size: 1.5rem;
  line-height: 1.6;
}

.hero__cta {
  // box model
  display: flex;
  justify-content: center;
}

.hero__image {
  // box model
  // width: 100%;
  display: flex;
  margin-left: 4rem;
  
  // typography
  font-size: 0;
}

.hero__image img {
  // box model
  max-width: 100%;
}
