.main-menu {
  // box model
  display: flex;
  gap: 3.5rem;
  padding: 0;
  margin: 0;

  // list
  list-style: none;
}

.main-menu__item {

}

.main-menu__item--current {
  // positioning
  position: relative;
}

.main-menu__item--current::after {
  content: '';

  // positioning
  position: absolute;

  // box model
  display: block;
  height: 0.3rem;
  width: 100%;

  // visual
  background-color: var(--primary);
}

.main-menu__item--current .main-menu__link {
  // typography
  color: var(--lightS);
}

.main-menu__link {
  // typography
  color: var(--darkS);
  font-size: 1.5rem;
  line-height: 1.6;
  text-decoration: none;
}

a.main-menu__link:hover {
  // typography
  color: var(--lightS);
}
