.our-friends {
  // box model
  padding: 4.2rem 1rem;

  // visual
  background-color: var(--lightL);
}

.our-friends__header {
  // box model
  margin-bottom: 4.2rem;
}


.our-friends__content {
  
}

.our-friends__cta {
  // box model
  display: flex;
  justify-content: center;
}
