.pagination {
  // box model
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;

  // list
  list-style: none;

  @include atTablet768 {
    // box model
    gap: 2rem;
  }
}

.pagination__item {
  // typography
  font-family: var(--titleFont);
  font-size: 2rem;
  letter-spacing: 0.06em;
  line-height: 1.15;
  text-align: center;
}

.pagination__inactive,
.pagination__current,
.pagination__link {
  // box model
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  width: 5.2rem;

  // border
  border-radius: 50%;
  border: 2px solid transparent;
}

.pagination__inactive {
  // typography
  color: var(--darkS);

  // border
  border-color: var(--darkS);
}

.pagination__current {
  // typography
  color: var(--dark3XL);

  // visual
  background-color: var(--primary);
}

.pagination__link {
  // typography
  color: var(--dark3XL);
  text-decoration: none;

  // border
  border-color: var(--primary);

  // visual
  transition: all 0.25s ease-out;
}

.pagination__link:hover {
  // border
  border-color: var(--primaryLight);

  // visual
  background-color: var(--primaryLight);
}
