.section-text {
  // box model
  margin: 0;
  margin-top: 2.5rem;

  // typography
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: justify;

  @include atDesktopS {
    // typography
    text-align: inherit;
  }
}
