doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")

    include ./modules/favicon.pug

    title Shelter — Main
  body 
    include ./modules/header.pug
    include ./modules/hero.pug
    include ./modules/about.pug
    include ./modules/our-friends.pug
    include ./modules/help.pug
    include ./modules/donations.pug
    include ./modules/footer.pug
    include ./modules/popup.pug

    script(src="js/main.js", type="module") 
